*.DS_Store
*.aux
*.log
*.out
*.synctex.gz
*.bib
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.xdv
*.toc
ztest.py
**/__pycache__/
claude_ver/
data/geo/backup/
data/geo/adjacent/
.vscode/
.trae/
.cursorrules
!README.md
*.md
*.bcf
*.run.xml
*.ttf
!楷体_GB2312.ttf
