*.DS_Store
*.aux
*.log
*.out
*.synctex.gz
*.bib
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.xdv
*.toc
ztest.py
function/__pycache__/
claude_ver/
data/geo/backup/
data/geo/adjacent/
.vscode/
.trae/
.cursorrules
!README.md
*.md
